# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
.expo/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local
apps/api/.env
apps/web/.env.local
apps/mobile/.env

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Turbo
.turbo/

# Testing
coverage/

# Prisma
apps/api/prisma/migrations/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

.vercel
