DATABASE_URL=postgresql://postgres.baqxljihngymjnasrdtl:[PASSWORD]@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.baqxljihngymjnasrdtl:[PASSWORD]@aws-0-us-east-1.pooler.supabase.com:5432/postgres
REDIS_URL=redis://localhost:6379
JWT_SECRET=change_me_generate_with_openssl_rand_base64_64
JWT_EXPIRES_IN=7d
JWT_QR_SECRET=change_me_generate_separate_qr_secret
FCM_SERVER_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
APPLE_CLIENT_ID=
APP_URL=http://localhost:3000
PORT=3001
SUPABASE_URL=https://baqxljihngymjnasrdtl.supabase.co
SUPABASE_SERVICE_KEY=
SISTEMA_ID=e416ae5e-fad9-43ac-a6a2-00fde07c744a
